body {
    background-image: url('images/load.jpg'); /* change path if needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

button:hover {
    background-color: #45a049;
}

.nav-link {
    color: lightblue;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
}
